.dropbox {
  position: relative;
  display: inline-block;
}

.dropbox-toggle {
  cursor: pointer;
  font-family: 'Simplon Norm';
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  line-height: 21.6px;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
}

.dropbox-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
}

.dropbox-menu span {
  margin-left: 10px;
}

.dropbox-menu label {
  display: block;
  margin-bottom: 5px;
}

.all_text {
  font-family: 'Simplon Norm';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
}

.filter {
  display: none;
  /* Add styling for the filter */
}

.show {
  display: block;
  width: 300px;
  position: absolute;
  left: 140px;
  background-color: white;
}

.priceshow {
  display: block;
  width: 300px;
  position: absolute;
  top: 645px;
  right: 120px;
  background-color: white;
}

.custom label {
  display: flex;
  align-items: center;
  width: 100%;
}

.custom label input[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.custom label .custom_title {
  margin-left: 13px;
}

.dropdowns {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

/* For mobile screens (max-width: 480px) */
@media (max-width: 480px) {
  .show {
    display: block;
    width: 300px;
    position: absolute;
    left: 20px;
    background-color: white;
  }

  .priceshow {
    display: block;
    width: 300px;
    position: absolute;
    top: 450px;
    right: 8px;
    background-color: white;
  }
}
